.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
    height: 60px;
}




.jumbotron #im{
    hidden:true;
    height:400px;
    width:700px;
    position: relative;
}
.jumbotron #postid{
    position:absolute;
    top:0px;
}
.jumbotron #post_date{
    position: absolute;
    bottom: 8px;
    right: 16px;
}
#single_post{

    width:90%;
    position: relative;
}

